@page
@using Artemis.Contracts.DTOs
@model EditMatch
@{
    ViewData["Title"] = "Match";
}

<div class="container-fluid" style="font-family: Poppins; font-style: normal">
    <div class="row bg-black">
        <div class="d-flex justify-content-center align-items-center col-md-2">
            <a class="d-flex justify-content-start" asp-page="/Interface">
                <img class="ms-3 mt-3 mb-3" style="width: 25%" src="img/logocropDark.png" />
            </a>
        </div>
        <div class="col-md-4"></div>
        <div class="d-flex justify-content-end align-items-center col-md-6">
            <a asp-page="/Interface" style="font-weight: 400" class="mt-3 mb-3 me-3 btn btn-light">go back</a>
            <a asp-page="/EditAccount" style="font-weight: 400" class="mt-3 mb-3 me-3 btn btn-light">edit account</a>
            <a asp-page="/Logout" style="font-weight: 400" class="mt-3 mb-3 me-3 btn btn-light">log out</a>
        </div>
    </div>
    <div class="d-flex row justify-content-center align-items-center">
        <div class="mt-3 shadow p-3 mb-5 rounded col-md-6">
            <form method="post">
                <label for="Type" class="form-label">Discipline:</label>
                <p id="Type" class="text-black">@Model.MatchUpdateRequest.Type</p>
                <label for="@Model.Date" class="form-label">Date:</label>
                <input asp-for="@Model.Date" type="date" class="form-control" placeholder="@DateTime.Now.Date.ToString("yyyy-MM-dd")" value="@Model.Date.ToString("yyyy-MM-dd")"/>
                <span asp-validation-for="@Model.Date" class="text-danger"></span>
                <br/>
                <label for="@Model.StartTime" class="form-label">Start time:</label>
                <input asp-for="@Model.StartTime" type="time" class="form-control" placeholder="@DateTime.Now.TimeOfDay.ToString("hh\\:mm")" value="@Model.StartTime.TimeOfDay.ToString("hh\\:mm")"/>
                <span asp-validation-for="@Model.StartTime" class="text-danger"></span>
                <br/>
                <label for="@Model.EndTime" class="form-label">End time:</label>
                <input asp-for="@Model.EndTime" type="time" class="form-control" placeholder="@DateTime.Now.TimeOfDay.ToString("hh\\:mm")" value="@Model.EndTime.TimeOfDay.ToString("hh\\:mm")"/>
                <span asp-validation-for="@Model.EndTime" class="text-danger"></span>
                <br/>
                <label for="@Model.Country.Name" class="form-label">Country:</label>
                <input asp-for="@Model.Country.Name" type="text" class="form-control" placeholder="Country" value="@Model.Country.Name" />
                <span asp-validation-for="@Model.Country.Name" class="text-danger"></span>
                <br/>
                <label for="@Model.City.Name" class="form-label">City:</label>
                <input asp-for="@Model.City.Name" type="text" class="form-control" placeholder="City" value="@Model.City.Name" />
                <span asp-validation-for="@Model.City.Name" class="text-danger"></span>
                <br />
                <label for="@Model.Location.Name" class="form-label">Location:</label>
                <input asp-for="@Model.Location.Name" type="text" class="form-control" placeholder="Location" value="@Model.Location.Name" />
                <span asp-validation-for="@Model.Location.Name" class="text-danger"></span>
                <br />
                <label for="@Model.MatchUpdateRequest.AirTemperature" class="form-label">Air temperature (°C):</label>
                <input asp-for="@Model.MatchUpdateRequest.AirTemperature" type="number" class="form-control" placeholder="25" value="@Model.MatchUpdateRequest.AirTemperature"/>
                <br/>
                <label for="@Model.MatchUpdateRequest.AirPressure" class="form-label">Air pressure (kPa):</label>
                <input asp-for="@Model.MatchUpdateRequest.AirPressure" type="number" class="form-control" placeholder="1000" value="@Model.MatchUpdateRequest.AirPressure"/>
                <br/>
                <label for="@Model.MatchUpdateRequest.WindSpeed" class="form-label">Wind speed (km/h):</label>
                <input asp-for="@Model.MatchUpdateRequest.WindSpeed" type="number" class="form-control" placeholder="10" value="@Model.MatchUpdateRequest.WindSpeed" />
                <br />
                <label for="@Model.MatchUpdateRequest.WindDirection" class="form-label">Wind direction:</label>
                <input asp-for="@Model.MatchUpdateRequest.WindDirection" type="text" class="form-control" pattern="^([XNS]?[EW]?){0,2}$" placeholder="N/S/E/W/NE/NW/SE/SW" value="@Model.MatchUpdateRequest.WindDirection" />
                <span asp-validation-for="@Model.MatchUpdateRequest.WindDirection" class="text-danger"></span>
                <br />
                <label for="@Model.MatchUpdateRequest.EnvironmentNotes" class="form-label">Notes about your environment:</label>
                <input asp-for="@Model.MatchUpdateRequest.EnvironmentNotes" type="text" class="form-control" placeholder="Notes..." value="@Model.MatchUpdateRequest.EnvironmentNotes" />
                <br/>
                <label for="@Model.MatchUpdateRequest.EquipmentNotes" class="form-label">Notes about your equipment:</label>
                <input asp-for="@Model.MatchUpdateRequest.EquipmentNotes" type="text" class="form-control" placeholder="Notes..." value="@Model.MatchUpdateRequest.EquipmentNotes" />
                <br/>
                <label for="@Model.MatchUpdateRequest.ShooterNotes" class="form-label">Notes about yourself and the match:</label>
                <input asp-for="@Model.MatchUpdateRequest.ShooterNotes" type="text" class="form-control" placeholder="Notes..." value="@Model.MatchUpdateRequest.ShooterNotes" />
                <br/>
                @foreach (ExtendedShotDto shot in Model.MatchUpdateRequest.Shots)
                {
                    <p style="font-weight: 700">Shot @(shot.Position):</p>
                    <label for="@Model.MatchUpdateRequest.Shots[shot.Position - 1].Value" class="form-label">Value (if decimal use dot, not comma):</label>
                    <input asp-for="@Model.MatchUpdateRequest.Shots[shot.Position - 1].Value" type="text" class="form-control" placeholder="10.9" value="@Model.MatchUpdateRequest.Shots[shot.Position - 1].Value.ToString()"/>
                    <span asp-validation-for="@Model.MatchUpdateRequest.Shots[shot.Position - 1].Value" class="text-danger"></span>
                    <br/>
                    if (!Model.MatchUpdateRequest.Type.Equals("TS"))
                    {
                        <label for="@Model.MatchUpdateRequest.Shots[shot.Position - 1].Timestamp" class="form-label">Timestamp:</label>
                        <input asp-for="@Model.MatchUpdateRequest.Shots[shot.Position - 1].Timestamp" type="time" class="form-control" placeholder="@DateTime.Now.TimeOfDay.ToString("hh\\:mm")" value="@Model.MatchUpdateRequest.Shots[shot.Position - 1].Timestamp?.TimeStamp.TimeOfDay.ToString("hh\\:mm")" />
                        <br/>
                        <label for="@Model.MatchUpdateRequest.Shots[shot.Position - 1].HorizontalDisplacement" class="form-label">Horizontal displacement:</label>
                        <input asp-for="@Model.MatchUpdateRequest.Shots[shot.Position - 1].HorizontalDisplacement" type="text" class="form-control" placeholder="0.0" value="@Model.MatchUpdateRequest.Shots[shot.Position - 1].HorizontalDisplacement?.ToString()" />
                        <br/>
                        <label for="@Model.MatchUpdateRequest.Shots[shot.Position - 1].VerticalDisplacement" class="form-label">Vertical displacement:</label>
                        <input asp-for="@Model.MatchUpdateRequest.Shots[shot.Position - 1].VerticalDisplacement" type="text" class="form-control" placeholder="0.0" value="@Model.MatchUpdateRequest.Shots[shot.Position - 1].VerticalDisplacement?.ToString()" />
                        <span asp-validation-for="@Model.MatchUpdateRequest.Shots[shot.Position - 1].VerticalDisplacement" class="text-danger"></span>
                        <br/>
                    }
                }
                <button type="submit" class="btn btn-dark">save match</button>
            </form>
        </div>
    </div>
</div>

<style>
    label { 
        display: block;
    }

    span {
        display: block;
        max-width: 25em;
        word-break: normal;
    }
</style>

@section scripts{
    <partial name="Shared/_ValidationScriptsPartial"/>
}